*{
  padding: 0;
  margin: 0;
  font-family: monospace;
}
.left {
  position: relative;
  float: left;
  width: 20%;
  height: 110%;
  background-color: rgba(168, 215, 238, 0.918);
}
.empbutton {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  height: 50px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(89, 130, 243);
  outline: none;
}
.studbutton {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 40%;
  height: 50px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(89, 130, 243);
  outline: none;
}
.empbutton:active,
.studbutton:active {
  color: #fff;
  background-color: rgb(163, 182, 236);
}
.right {
  position: absolute;
  left: 25%;
  right: 0%;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  grid-gap: 3px;
  background-color: rgb(198, 225, 238);
  padding: 8px;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.gcontainer {
  padding: 20px;
  margin-left: 30px;
  margin-right: 150px;
}
.gheader {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(198, 225, 238);
  border-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 20px;
}
.grid > div {
  display: grid;
  background-color: #ffffff;
  grid-template-rows: 40px 10px;
  padding: 10px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.addcontainer {
  padding: 2%;
  width: 45%;
  background-color: white;
  border: solid rgba(28, 223, 21, 0.719);
  border-radius: 6px;
  margin-left: 4%;
  margin-right: 600px;
  height: 180px;
}
.name {
  margin-left: 2%;
  margin-bottom: 5%;
  bottom: 10%;
  height: 30px;
  border: solid rgb(88, 247, 154);
  border-radius: 6px;
}
.area {
  margin-left: 2%;
  margin-bottom: 5%;
  bottom: 10%;
  height: 30px;
  border: solid rgb(88, 247, 154);
  border-radius: 6px;
}
.id {
  margin-left: 2%;
  margin-bottom: 5%;
  bottom: 10%;
  height: 30px;
  width: 160px;
  border-radius: 6px;
  border: solid rgb(88, 247, 186);
}
.add {
  float: right;
  position: relative;
  width: 80px;
  height: 40px;
  color: rgb(0, 0, 0);
  bottom: 50px;
  border-radius: 10px;
  cursor: pointer;
  border-color: rgb(25, 151, 57);
  background-color: rgb(255, 255, 255);
  outline: none;
}

.add:active {
  background-color: rgb(88, 241, 182);
}

.heading {
  margin-left: 2%;
  width: 50%;
  height: 5%;
  text-align: center;
  font-size: 17px;
}
.form {
  white-space: pre;
}

